@media (max-width: 600px) {
    .header-section{
        min-width: auto;
         /* border: 2px solid green;  */
        width: 375px;
        margin: 0 auto;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }



    .header{
        display: flex;
        flex-direction: column;
        
      
    }
    
    .header span{
        font-size: 21px;
    }
    .header2 a {
      display: none;
    
    }
    .header2 i {
        display: block;
        font-size: 24px;
    }

    /* banner */
    .banner-sec{
        min-width: auto;
        width: 335px;
        height: 483px;
         /* border: 2px solid green;  */
        margin: 5px auto;
    }
    .banner-title{
       
        font-size: 22px;
        padding-top: 50px;    }


        .banner-content{
           
            font-size: 14px;
          
        }
        .banner_rectangle{
            width: 288px;
            height: 287px;
            flex-direction: column;
            background-color: #ffffff2d;
            margin-top:20px;
        }

        /* Banner done */
        .section1 {
    min-width: auto;
    width: 375px;
    height: auto;
     /* border:2px solid green;  */
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    order: 1;
    
    
}
.div1 ul li{
    font-size: 14px;
    line-height: 1.5;
    /* overflow-x: hidden; */
    
}
.div2{
    background-image: url("../B9A2-Hero-Travel/Images/Rectangle\ 4.png");
    height: 335px; 
    width: 342px;
    border-radius: 20px; 
    background-size:contain;
    margin-right: auto;
    margin-left: auto;
    background-repeat: no-repeat;
    order: 2;
}
/* Section Two */
.destination{
    min-width: auto;
    width: 375px;
    height: auto;
    /* border: 2px solid green; */
    margin: 0px auto;
    text-align: center;
}
.destination p{
    color:rgba(19, 19, 24, 0.7);
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
    margin
}
.div-image{
    display: flex;
    flex-direction: column;
   justify-content: space-between;
   margin-top: 50px;
   gap: 10px;
}
.image1 ,.image2,.image3,.image4,.image5,.image6 ,.image7 {
    height: 176px;
    width: 335px;
    /* border: 2px solid green; */
    border-radius: 8px;
    color: white;
    margin-left: auto;
    margin-right: auto;

}
.image1 p{
  
    color: white;
    font-weight: 900;
    font-size: 20px;
     padding-top: 80px; 

   
}
.image2 p{
    color: white;
    font-weight: 900;
    font-size: 20px;
     padding-top: 80px; 
}
.div-image2{
    display: flex;
    flex-direction: column;
   /* justify-content:space-evenly; */
   margin-top: 25px;
   gap: 10px;
}
.image3 p{
    color: white;
    font-weight: 900;
    font-size: 20px;
     padding-top: 80px; 
}

.image4 p{
    color: white;
    font-weight: 900;
    font-size: 20px;
     padding-top: 80px; 
}


.image5 p{
    color: white;
    font-weight: 900;
    font-size: 20px;
     padding-top: 80px; 
    
}
.image5{
    /* background-image: url("../B9A2-Hero-Travel/Images/Rectangle\ 9.png"); */
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto; 
    width: 335px;
    height: 176px;
    background-size: cover;
    
}
.div-image3{
    display: flex;
    flex-direction: column;
   /* justify-content:space-evenly; */
   margin-top: 25px;
   gap: 10px;
}
.image6 p{
    color: white;
    font-weight: 900;
    font-size: 20px;
     padding-top: 80px; 
    
}
.image7 p{
    color: white;
    font-weight: 900;
    font-size: 20px;
     padding-top: 80px; 
    
}
.choose{
    text-align: center;
    padding-top: 80px;
    min-width: auto;
    width: 335px;
    /* border: 2px solid green; */
    margin: 0px auto;
    height: 176px;
}
.div-choose{
    min-width: auto;
    width: 335px;
     height: auto;
    margin: 20px auto;
    /* border: 2px solid green;  */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.part1{
    width: 300px;
    height: 289px;
    border: 1px solid rgba(251, 181, 99, 0.2);
    background-color: rgba(251, 181, 99, 0.2);
     padding: 20px; 
    margin: 20px auto;
    border-radius: 8px;
}


}